@import 'src/styles/variables.scss';

.button {
  height: $google-spacing * 5;
  width: 100%;
  padding: 0 $google-spacing * 2;
  border: $google-spacing * 0.25 solid $color-primary;
  color: $color-primary;
  border-radius: $google-spacing;
  text-transform: uppercase;
  transition: $transition-fast;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    background: $color-primary;
    color: $color-base-dark;
    box-shadow: $box-shadow;
  }
}
