$color-primary: #f9aa33;
$color-background: #232f34;
$color-background-light: #344955;
$color-background-light-alternative: #4a6572;
$color-base: #eeeeee;
$color-base-dark: #1c1c1c;

$google-spacing: 8px;

$transition-default: 0.3s cubic-bezier(0.250,  0.460,  0.450,  0.940);
$transition-fast: 0.2s cubic-bezier(0.250,  0.460,  0.450,  0.940);

$box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

$mediaS: 600px;
$mediaM: 900px;
