@import 'src/styles/variables.scss';

.tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $google-spacing * 100;

  @media screen and (max-width: $mediaS) {
    margin-top: $google-spacing;
  }
}

.slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $google-spacing * 0.25;
  border-top-left-radius: $google-spacing * 0.25;
  border-top-right-radius: $google-spacing * 0.25;
  background: $color-primary;
  transition: $transition-default;
}
